:root {
  --page-bg-color: #222831;
  --pokecard-color:#393E46;
  --text-color:#EEEEEE;
  --gradient-first-color:#222831;
  --gradient-second-color: #EEEEEE;
  --pokecard-border:#FFD369;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
   background-color: var(--page-bg-color);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 18;
   color:var(--text-color);
  }
  
  #page {
    text-align: center;
 }

 #pokedex-logo {
   position: sticky;
   top: 0.1px;
   background-color: var(--page-bg-color);
   box-shadow: 0px 20px 10px var(--page-bg-color);
   padding-top: 20px;
   margin-bottom:20px;
   z-index: 2;
 }

 .pokemon-collection {
   width: 70%;
   margin: 0 auto;
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   justify-content: center;
 }
 
 .pokemon-card {
   width: 200px;
   height: 410px;
   padding: 10px;
   border: var(--pokecard-border) 1px solid;
   box-shadow: 4px 3px 0px var(--pokecard-border);
   border-radius: 10px;
   background-color: var(--pokecard-color);
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   justify-content: flex-start;
   position: relative;
 }

 .pokemon-name {
   padding-top: 10px;
   width: 100%;
   font-weight: 500;
   border-bottom: 4px var(--pokecard-border) solid;
   transition-duration: 1s;
   transition-timing-function: ease-out;
 }

.pokemon-image-bg {
  border-radius: 10px;
  background: linear-gradient(var(--gradient-second-color),var(--gradient-first-color));
}

.pokemon-image {
 height:175px;
 width:175px;
}

.element {
  width: 100%;
  font-size: 0.8em;
  border-bottom: 0.5px dashed var(--page-bg-color);
  display: flex;
  justify-content: space-between;
  background-color: var(--pokecard-color);
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.element div:first-child {
  font-weight: 500;
}

.element div:last-child {
  font-weight: 300;
}

.pokemon-card:hover .element {
  border: var(--text-color) 2px solid;
  z-index: 1;
  padding:5px;
  border-radius: 10px;
  color: var(--page-bg-color);
  background-color: var(--pokecard-border);
}

.pokemon-card:hover .element:nth-child(odd) {
  translate: -250px -100px;
}

.pokemon-card:hover .element:nth-child(even) {
  translate: 250px -100px;
}

.pokemon-card:hover .zoomable {
  z-index:1;
  border: var(--text-color) 2px solid;
  border-radius: 10px;
  background-color: var(--page-bg-color);
  padding: 5px;
  transform: scale(1.5);
  color: var(--pokecard-border);
  translate: 0px 70px;
}

.pokemon-card:hover .pokemon-name {
  translate: 0px 130px;
}

.pokemon-collection:has(.pokemon-card:hover) .pokemon-card:not(:hover) {
  filter: blur(5px);
}

.pokemon-card:hover {
  border: none;
  box-shadow: none;
  background-color: var(--page-bg-color);
}